*.lo
*.la
*.o
.libs/
doc/html/
doc/latex/
doc/man/
opus/celt/tests/test_unit_cwrs32
celt/tests/test_unit_dft
celt/tests/test_unit_entropy
celt/tests/test_unit_laplace
celt/tests/test_unit_mathops
celt/tests/test_unit_mdct
celt/tests/test_unit_rotation
celt/tests/test_unit_types
celt/tests/test_unit_cwrs32
doc/doxygen-build.stamp
opus_compare
opus_demo
repacketizer_demo
tests/test_opus_api
tests/test_opus_decode
tests/test_opus_encode
tests/test_opus_padding
